.benefits {
  padding-top: 105px;
  width: 100%;
  background-color: #f7f7f7;
}

.benefits__laptop {
  height: 370px;
  width: 70vw;
  margin: 0 auto 37px;
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
}

.benefits__laptop_info {
  margin: 91px 35px;
  height: 188px;
  width: 416px;
}

.benefits__laptop_info-logo {
  font-family: $secondary-font;
  font-size: 36px;
  color: $secondary-color;
}

.benefits__laptop_info-text {
  font-family: $primary-font;
  font-size: 16px;
  color: $secondary-color;
  padding: 36px 0 50px 0;
  line-height: 22px;
}

.benefits__laptop_info-text::after {
  content: "";
  display: block;
  height: 4px;
  width: 332px;
  background-color: $main-red;
  margin-top: 50px;
}

.benefits__laptop-image {
  padding: 113px 118px 38px 0;
  position: relative;
}

.benefits__laptop-image-img {
  position: relative;
  z-index: 2;
  height: 211px;
}

.benefits__laptop-image-bgc {
  content: "";
  width: 130px;
  height: 130px;
  background-color: $main-red;
  display: block;
  border-radius: 40px;
  position: absolute;
  right: 106px;
  top: 62px;
  border: 0;
  transform: rotate(45deg);
}

////////////////////////////////////////////////////


.benefits__phone {
  height: 370px;
  width: 70vw;
  margin: 0 auto 37px;
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
}

.benefits__phone-info {
  margin: 60px 35px;
  height: 188px;
  width: 416px;
}

.benefits__phone-info-logo {
  width: 246px;
  height: 84px;
  font-family: $secondary-font;
  font-size: 36px;
  color: $secondary-color;
  padding-top: 70px;
}

.benefits__phone-info-text {
  font-family: $primary-font;
  font-size: 16px;
  color: $secondary-color;
  padding: 36px 0 50px 0;
  line-height: 22px;
}

.benefits__phone-info-text::after {
  content: "";
  display: block;
  height: 4px;
  width: 332px;
  background-color: $main-blue;
  margin-top: 50px;
}

.benefits__phone-image {
  padding: 113px 118px 38px 0;
  position: relative;
}

.benefits__phone-image-img {
  height: 356px;
  position: relative;
  z-index: 2;
  top: -85px;
  left: 50px;
}

.benefits__phone-image-bgc {
  content: "";
  width: 350px;
  height: 350px;
  background-color: $main-blue;
  display: block;
  border-radius: 50%;
  position: absolute;
  right: 149px;
  top: 10px;
  border: 0;
  transform: rotate(45deg);
}


//////////////////////////////////////////////


.benefits__trumpet-box {
  height: 370px;
  width: 50vw;
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
}

.benefits__trumpet-lorem-info {
  margin: 55px 35px;
  height: 188px;
  width: 416px;
}

.benefits__trumpet-lorem-logo {
  width: 348px;
  height: 84px;
  font-family: $secondary-font;
  font-size: 36px;
  color: $secondary-color;
}

.benefits__trumpet-lorem-text {
  width: 553px;
  font-family: $primary-font;
  font-size: 16px;
  color: $secondary-color;
  padding: 36px 0 50px 0;
  line-height: 22px;
}

.benefits__trumpet-lorem-text::after {
  content: "";
  display: block;
  height: 4px;
  width: 332px;
  background-color: $main-green;
  margin-top: 50px;
}

.benefits__trumpet {
  height: 370px;
  width: 70vw;
  margin: 0 auto 37px;
  display: flex;
  padding-bottom: 105px;
  justify-content: space-between;
}

.benefits__trumpet-image {
  height: 370px;
  width: 440px;
  margin: 0 0 0 61px;
  background-color: $main-green;
}

.benefits__trumpet-image-img {
  padding: 98px 82px 64px 62px;
  height: 219px;
}

@media (min-width: 320px) AND (max-width: 640px) {
  .benefits {
    padding-top: 50px;
  }
  .benefits__laptop {
    flex-direction: column-reverse;
    height: 500px;
    width: 80vw;
  }
  .benefits__laptop_info {
    width: 60vw;
  }
  .benefits__laptop_info-logo {
    font-size: 1.8rem;
  }
  .benefits__laptop_info-text {
    width: 60vw;
    padding-bottom: 0;
  }
  .benefits__laptop-image {
    top: 80px;
    left: 30px;
  }
  .benefits__laptop-image-img {
    height: 100px;
  }
  .benefits__laptop-image-bgc {
    height: 100px;
    width: 100px;
  }
  .benefits__laptop_info-text::after,
  .benefits__phone-info-text::after,
  .benefits__trumpet-lorem-text::after {
    display: none;
  }


  .benefits {
    padding-top: 50px;
  }
  .benefits__phone {
    flex-direction: column;
    height: 500px;
    width: 80vw;
  }
  .benefits__phone-info-logo {
    font-size: 1.8rem;
    padding-left: 37px;
    margin-top: 20px;
  }
  .benefits__phone-info-text {
    width: 60vw;
    padding: 0 auto;
    padding-left: 37px;
    padding-top: 0;
  }
  .benefits__phone-image {
    padding: 0;
  }
  .benefits__phone-image-img {
    height: 150px;
    top: 40px;
    left: 60px;
  }
  .benefits__phone-image-bgc {
    height: 160px;
    width: 160px;
    top: 20px;
    left: 60px;
  }



  .benefits__trumpet-box {
    width: 80vw;
    margin: 0 auto;
    height: 350px;
  }
  .benefits__trumpet {
    width: 80vw;
    height: 570px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .benefits__trumpet-lorem-logo {
    font-size: 1.8rem;
    width: 60vw;
  }
  .benefits__trumpet-lorem-text {
    width: 60vw;
  }
  .benefits__trumpet-image {
    height: 220px;
    width: 80vw;
    margin: 0;
    background-color: $main-green;
  }
  .benefits__trumpet-image-img {
    height: 119px;
    padding: 17vw;
  }
}