.form h1 {
    font-size: 49px;
    font-family: $primary-font;
    color: $secondary-color;
    padding-bottom: 22px;
}

.form h2 {
    font-family: $primary-font;
    color: $secondary-color;
    padding-bottom: 42px;
}

.form h3 {
    font-family: $primary-font;
    color: #A5A5A5;
}

.form img {
    padding-right: 20px;
}

.form img + img {
    padding-right: 10px;
    padding-left: 20px;
}

.form__box {
    width: 50vw;
    margin: 0 auto 20px;
    height: 376px;
    display: flex;
    justify-content: space-between;
}

.form__submit {
    width: 440px;
    height: 372px;
    font-family: $primary-font;
    font-size: 12px;
    color: grey;
}

.btn--primary {
    background-color: #08A6E4;
    border: 1px solid #08A6E4;
    border-radius: 35px;
    padding: 20px 97px;
    font-size: 13px;
    font-family: $primary-font;
    color: #ffffff;
    margin-left: 203px;
    font-weight: 600;
}

.form__field:first-of-type {
    margin-bottom: 42px;
}

.form__label {
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.9rem;
    letter-spacing: 3px;
    font-size: 0.6875rem;
    color: #08A6E4;
}

.form__input {
    border: none;
    border-bottom: 1px solid grey;
    background-color: transparent;
    line-height: 1.625rem;
    width: 420px;
}

.form__consent {
    margin-top: 30px;
}

.form__checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
}

.form__checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.form__checkbox .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 4px;
}

.form__checkbox input:checked ~ .checkbox {
    background-image: url("../images/Checkmark.svg");
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}

.form__checkbox .consent__text {
    margin: 0 10px;
    font-size: 0.75rem;
    color: grey;
    line-height: 17px;
}

.btn {
    font-size: 0.8125rem;
    padding: -1px -44px;
    align-self: flex-end;
    margin-top: 1px;
}

@media (min-width: 320px) AND (max-width: 640px) {
    .form {
        width: 80vw;
        margin: 30px 0 30px;
    }
    .form h1 {
        font-size: 2rem;
    }
    .form__box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 80vw;
        height: 700px;
    }
    .form__submit {
        width: 80vw;
        margin: 0;
    }
    .form__input {
        width: 80vw;
    }
    .btn--primary {
        width: 100px;
        display: flex;
        justify-content: center;
        padding: 15px 60px;
        margin-top: 30px;
        margin-left: 180px;
    }
}