.info {
  font-family: $secondary-font;
  height: 531px;
  width: 100%;
  background-color: $primary-color;
}

.info__logo {
  text-align: center;
  padding: 100px 0;
  font-size: 36px;
  color: $secondary-color;
}

.info__logo-box {
  width: 80%;
  height: 500px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.person-circle-img {
  width: 44px;
  height: 52px;
  position: absolute;
  padding: 7px 0;
}

.eye-circle-img {
  width: 66px;
  height: 37px;
  position: absolute;
  padding: 13px 0;
  left: 20px;
}

.catalog-circle-img {
  width: 52px;
  height: 48px;
  position: absolute;
  padding: 7px 0;

}

.info__logo-box-person {
  height: 140px;
  width: 116px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.person-circle {
  height: 63px;
  width: 63px;
  background-color: $main-red;
  border-radius: 50px;
}

.info__logo-box-eye {
  height: 167px;
  width: 176px;
  padding-left: 185px;
  padding-right: 183px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.eye-circle {
  background-color: $main-blue;
  border-radius: 40px;
  height: 63px;
  width: 63px;
  position: relative;
}

.info__logo-box-catalog {
  height: 168px;
  width: 163px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.catalog-circle {
  background-color: $main-green;
  border-radius: 40px;
  height: 63px;
  width: 63px;
  position: relative;
}

.statistics_number {
  padding: 14px 0 19px 0;
  font-family: $secondary-font;
  font-weight: 900;
  font-size: 20px;
  letter-spacing: 3px;
}

.statistics_info {
  font-family: $secondary-font;
  color: $text-grey;
}

.statistics_info,
.statistics_number {
  width: 116px;
  text-align: center;
}

@media (min-width: 320px) AND (max-width: 640px) {
  .info {
    font-family: $secondary-font;
    width: 100%;
    background-color: $primary-color;
    height: 800px;
  }
  
  .info__logo {
    width: 70vw;
    margin: auto;
    font-size: 36px;
    color: $secondary-color;
    padding: 50px 0;
  }
  
  .info__logo-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }
  
  .person-circle-img {
    width: 44px;
    height: 52px;
    position: absolute;
    padding: 7px 0;
  }
  
  .eye-circle-img {
    width: 66px;
    height: 37px;
    position: absolute;
    padding: 13px 0;
    left: 20px;
  }
  
  .catalog-circle-img {
    width: 52px;
    height: 48px;
    position: absolute;
    padding: 7px 0;
  
  }
  
  .info__logo-box-person {
    margin: 40px auto;
  }
  
  .person-circle {
    height: 63px;
    width: 63px;
    background-color: $main-red;
    border-radius: 50px;
  }
  
  .info__logo-box-eye {
    padding: 0 0 40px;
    margin: auto;
  }
  
  .eye-circle {
    background-color: $main-blue;
    border-radius: 40px;
    height: 63px;
    width: 63px;
    position: relative;
  }
  
  .info__logo-box-catalog {
    margin: 0 auto;
  }
  
  .catalog-circle {
    background-color: $main-green;
    border-radius: 40px;
    height: 63px;
    width: 63px;
    position: relative;
  }
  
  .statistics_number {
    padding: 14px 0 19px 0;
    font-family: $secondary-font;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 3px;
  }
  
  .statistics_info {
    font-family: $secondary-font;
    color: $text-grey;
  }
  
  .statistics_info,
  .statistics_number {
    width: 116px;
    text-align: center;
  }
}