.pricing {
  width: 100%;
}

.pricing__box {
  margin: 0 auto 179px;
  width: 70vw;
  height: 580px;
  display: flex;
  justify-content: center;
}

.basic {
  width: 372px;
  height: 461px;
  border: 2px solid $main-red;
  border-radius: 18px;
  margin: 77px 0 42px 0;
}

.professional {
  width: 362px;
  height: 500px;
  border: 2px solid $secondary-blue;
  border-radius: 18px;
  margin: 56px 59px 24px 58px;
}

.premium {
  width: 372px;
  height: 461px;
  border: 2px solid $main-green;
  border-radius: 18px;
  margin-top: 77px;
}

.pricing h1 {
  font-size: 36px;
  font-family: $secondary-font;
  color: $secondary-color;
  height: 36px;
  margin-top: 100px auto 0;
  text-align: center;
}

.pricing h2 {
  font-size: 21px;
  padding-top: 34px;
  font-weight: bold;
  font-family: $secondary-font;
  text-align: center;
}

.pricing h3 {
  font-size: 46px;
  padding-top: 14px;
  font-weight: 300;
  font-family: $primary-font;
  text-align: center;
  height: 70px;
}

.basic h3 {
  color: $main-red;
}

.professional h3 {
  color: $secondary-blue;
}

.premium h3 {
  color: $main-green;
}

.professional h4,
.premium h4 {
  color: $secondary-color;
  font-size: 12px;
  font-weight: bold;
  padding-top: 5px;
  font-family: $secondary-font;
  text-align: center;
}

.checked__true,
.checked__false {
  font-family: $primary-font;
  font-size: 14px;
  color: $secondary-color;
  text-align: center;
  padding-bottom: 20px;
}

.basic h3,
.professional h4,
.premium h4 {
  padding-bottom: 79px;
}


.checked__true::before {
  content: "";
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 10px;
  border-color: $main-green;
  background-image: url("images/Checkmark-1.svg");
  opacity: 1;
}

.checked__false::before {
  background-image: url("images/Close.svg");
}

.btn {
  position: relative;
  font-size: 13px;
  border-radius: 23px;
  width: 165px;
  height: 50px;
  color: white;
  font-family: $primary-font;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.basic .btn {
  background-color: $main-red;
  border: 1px solid $main-red;
  bottom: -46px;
}

.professional .btn {
  background-color: $main-blue;
  border: 1px solid $main-blue;
  bottom: -68px;
}

.premium .btn {
  background-color: $main-green;
  border: 1px solid $main-green;
  bottom: -31px;
}