.pricing {
  width: 100%;
}

.pricing__box {
  margin: 0 auto 179px;
  width: 70vw;
  height: 580px;
  display: flex;
  justify-content: center;
}

.basic {
  width: 372px;
  height: 461px;
  border: 2px solid $main-red;
  border-radius: 18px;
  margin: 77px 0 42px 0;
}

.professional {
  width: 362px;
  height: 500px;
  border: 2px solid $secondary-blue;
  border-radius: 18px;
  margin: 56px 59px 24px 58px;
}

.premium {
  width: 372px;
  height: 461px;
  border: 2px solid $main-green;
  border-radius: 18px;
  margin-top: 77px;
}

.pricing__logo {
  font-size: 36px;
  font-family: $secondary-font;
  color: $secondary-color;
  height: 36px;
  margin-top: 100px auto 0;
  text-align: center;
}

.pricing__logo2 {
  font-size: 21px;
  padding-top: 34px;
  font-weight: bold;
  font-family: $secondary-font;
  text-align: center;
}

.pricing__price-basic,
.pricing__price-professional,
.pricing__price-premium {
  font-size: 46px;
  padding-top: 14px;
  font-weight: 300;
  font-family: $primary-font;
  text-align: center;
  height: 70px;
}

.pricing__price-basic {
  color: $main-red;
}

.pricing__price-professional {
  color: $secondary-blue;
}

.pricing__price-premium {
  color: $main-green;
}

.pricing__price-limited{
  color: $secondary-color;
  font-size: 12px;
  font-weight: bold;
  padding-top: 5px;
  font-family: $secondary-font;
  text-align: center;
}

.checked__true,
.checked__false {
  font-family: $primary-font;
  font-size: 14px;
  color: $secondary-color;
  // text-align: center;
  padding-bottom: 20px;
}

.pricing__price-basic,
.pricing__price-professional,
.pricing__price-premium {
  padding-bottom: 30px;
}


.checked__true::before {
  content: " ";
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 10px;
  border-color: $main-green;
  background-image: url("../../images/Checkmark-1.svg");
}

.checked__false::before {
  content: " ";
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 10px;
  background-image: url("../../images/Close.svg");
}

.pricing__btn-basic, 
.pricing__btn-professional, 
.pricing__btn-premium {
  position: relative;
  font-size: 13px;
  border-radius: 23px;
  width: 165px;
  height: 50px;
  color: white;
  font-family: $primary-font;
  text-align: center;
  margin: 0 auto;
  font-weight: 600;
}

.pricing__btn-basic {
  background-color: $main-red;
  border: 0;
  bottom: -95px;
}

.pricing__btn-professional {
  background-color: $main-blue;
  border: 0;
  bottom: -70px;
}

.pricing__btn-premium {
  background-color: $main-green;
  border: 0;
  bottom: -31px;
}

@media (min-width: 320px) AND (max-width: 640px) {
  .pricing {
    height: 1100px;
  }
  .pricing__box {
    flex-direction: column;
    height: 1100px;
    width: 80vw;
  }
  .pricing__logo {
    padding-top: 20px;
  }
  .pricing__logo2 {
    padding-top: 0;
  }
  .basic {
    width: 75vw;
    height: 251px;
    border: 2px solid $main-red;
    border-radius: 18px;
    margin: 0 auto 30px;
  }
  
  .professional {
    width: 80vw;
    height: 277px;
    border: 2px solid $secondary-blue;
    border-radius: 18px;
    margin: 0 auto 30px;
  }
  
  .premium {
    width: 75vw;
    height: 251px;
    border: 2px solid $main-green;
    border-radius: 18px;
    margin: 0 auto;
  }
  .pricing__price-basic,
  .pricing__price-professional,
  .pricing__price-premium {
    padding-bottom: 0;
  }
  .pricing__btn-basic-mobile {
    bottom: 55px;
    position: relative;
    font-size: 13px;
    border-radius: 23px;
    width: 165px;
    height: 50px;
    color: white;
    font-family: $primary-font;
    text-align: center;
    margin: 0 auto;
    font-weight: 600;
    background-color: $main-red;
    border: 0;
  }
  .pricing__btn-professional-mobile {
    bottom: 55px;
    position: relative;
    font-size: 13px;
    border-radius: 23px;
    width: 165px;
    height: 50px;
    color: white;
    font-family: $primary-font;
    text-align: center;
    margin: 0 auto;
    font-weight: 600;
    background-color: $main-blue;
    border: 0;
    bottom: 55px;
  }
  .pricing__btn-premium-mobile {
    bottom: 55px;
    position: relative;
    font-size: 13px;
    border-radius: 23px;
    width: 165px;
    height: 50px;
    color: white;
    font-family: $primary-font;
    text-align: center;
    margin: 0 auto;
    font-weight: 600;
    background-color: $main-green;
    border: 0;
    bottom: 25px;
  }
  .checked__true,
  .checked__false {
    padding-bottom: 20px;
  }
  .basic,
  .professional,
  .premium {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .pricing__btn-basic,
  .pricing__btn-professional,
  .pricing__btn-premium {
    display: none;
  }
}

@media (min-width: 641px) {
  .pricing__btn-basic-mobile,
  .pricing__btn-professional-mobile,
  .pricing__btn-premium-mobile {
    display: none;
  }
  .pricing__btn-basic,
  .pricing__btn-professional,
  .pricing__btn-premium {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .pricing__box-display1,
  .pricing__box-display2 {
    text-align: center;
  }
  .pricing__price-limited {
    padding-bottom: 50px;
  }
}